/* pages/pageConnect/pageConnect.wxss */

page {
  height: 100%;
  background-color: #F4F7FB;
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}
.layout-column {
  display: flex;
  flex-direction: column;
}

.icon-next {
  height: 32rpx;
  width: 32rpx;
}

.text-size-medium {
  font-size: 32rpx;
}

.scan-contain {
  flex: 1;
  height: 0;
}

.item-scandev-contain {
  height: 128rpx;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0rpx 40rpx;
}

.item-scandev-left {}

.rssi {
  width: 110rpx;
}

.item-scandev-right {
  height: wrap;
}

.space-line {
  margin-left: 42rpx;
  height: 2rpx;
  background-color: #0000000D;
}

.black {
  color: #242424;
}

.gray-838383 {
  color: #838383;
}

.gray-B0B0B0 {
  color: #b0b0b0;
}

#filter-contain {
  justify-content: space-between;
  margin-top: 24rpx;
  background-color: white;
  height: 96rpx;
  align-items: center;
  padding: 0rpx 40rpx;
  font-size: 32rpx;
}

#scan-status {
  height: 112rpx;
  align-items: center;
  font-size: 32rpx;
  padding: 0rpx 40rpx;
}

#icon-loading {
  height: 40rpx;
  width: 40rpx;
}

.intro {
  margin: 30px;
  text-align: center;
}

.trans {
  transition: .2s;
}
 

